@{
    ViewData["Title"] = "主页面";
}

<div class="text-center">
    <h4 class="display-4">欢迎使用教学管理系统</h4>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <img src="~/Images/1.jpg" class="d-block w-100" alt="..."
                 style="max-width:2500px;max-height:650px;object-fit:contain;">
            <div class="carousel-caption d-none d-md-block">
                <h5>校园风光-1</h5>
                <p>校园风光</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/Images/2.jpg" class="d-block w-100" alt="..."
                 style="max-width:2500px;max-height:650px;object-fit:contain;">
            <div class="carousel-caption d-none d-md-block">
                <h5>校园风光-2</h5>
                <p>校园风光</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/Images/3.jpg" class="d-block w-100" alt="..."
                 style="max-width:2500px;max-height:650px;object-fit:contain;">
            <div class="carousel-caption d-none d-md-block">
                <h5>校园风光-3</h5>
                <p>校园风光</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions"
       role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions"
       role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
